*{

    margin: 0;
    padding: 0;
font-family: sans-serif;

}

body{

    
background-image: url(/hotel/images/blur1.jpg);

background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;


}

.h1{

font-family: sans-serif;
text-align: center;
margin-top: 250px;
font-size: 70px;

color: white

}

.p1{

color: white;
font-family: sans-serif;
text-align: center;
margin-top: 10px;

}


.btn1{

  margin-left:570px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;  
  padding-left: 40px;
  padding-right: 40px;
 padding-top: 10px;
 padding-bottom: 10px;
  border-radius: 50px;
  font-family: sans-serif;
  border: solid;
  border-color: rgb(11, 135, 122);
  cursor: pointer;
  transition: opacity 0.15s;
  margin-top: 30px;
  margin-right: 20px;
 

}

.btn1:hover{

background-color:rgb(11, 135, 122); ;
}

.btn2{
    font-weight: bold;  
    color: white;
    background-color: rgba(0, 0, 0, 0);
    
    padding-left: 40px;
    padding-right: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
    border-radius: 30px;
    font-family: sans-serif;
    border: solid;
    border-color: rgb(11, 135, 122);
    cursor: pointer;
    transition: opacity 0.15s;

}

.btn2:hover{

    background-color:rgb(11, 135, 122); ;

}


.a1{

margin-left:1000px;
margin-right: 20px;

    text-decoration: none;
    color: white;
    font-family: sans-serif;
}



.navbar{
    
    background-color: rgba(255, 255, 255, 0.571);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  
}

.navbar ul{

list-style: none;
overflow: hidden;
margin-left: 900px;


}

.navbar a{


    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
}


.navbar a:hover{
   background-color: rgb(11, 135, 122);
    
}


.navbar a:active{

background-color: rgb(142, 24, 24);


}
.navbar li{

float: left;

}

.p2{

margin-top: 200px;
background-color: rgba(240, 248, 255, 0.329);
font-family: sans-serif;
padding: 20px;
font-size: 20px;
text-align: center;



}


.lobby1{

width: 500px;
margin-top: 20px;
margin-left: 25px;
display: inline;
border-radius: 20px;
box-shadow: 10px 10px rgba(255, 255, 255, 0.566);
}

.bed3{
    width: 450px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.566);

}


.bed4{

    width: 450px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(255, 255, 255, 0.566);
}


.class4{

    background-color: rgba(240, 248, 255, 0.329);

}


.elevate{

text-align: center;
font-family: 'Single Day' , cursive;
font-size: 100px;
color: rgba(48, 82, 7, 0.522);


}